extends layout

block main
    header.cd-header
        #cd-logo
          a(href='/')
            img(src='/assets/noun_90169_cc.png', alt='Logo')
        nav.cd-primary-nav
          ul
            if (user)
                li#current-user(data-user-id='#{user._id}')
                  a(href="/users/#{user._id}") Hi #{user.username} (My Account)
                li
                  a(href="/auth/logout") Logout
                li
                  a(href="/users/#{user._id}")
                    span(class='glyphicon glyphicon-shopping-cart')
                    span #{cartCount}
              else
                li
                  a(href="/auth/login") Login
                li
                  a(href="/auth/register") Register
            li
              a(href='#0') Search
    .container.maincontent
        .row
            .col-lg-12
                h1 Register
                form(role="form", action="/auth/register", method="post")
                    .form-group
                        label(for="username") Username
                        input#username.form-control(name="username", type="text")
                    .form-group
                        label(for="password") Password
                        input#password.form-control(name="password", type="password")
                    .form-group
                        label(for="firstName") First Name
                        input#username.form-control(name="firstName", type="text")
                    .form-group
                        label(for="lastName") Last Name
                        input#username.form-control(name="lastName", type="text")
                    .form-group
                        label(for="emailAddress") email Address
                        input#username.form-control(name="emailAddress", type="text")
                    .form-group
                        label(for="phoneNumber") Phone Number
                        input#username.form-control(name="phoneNumber", type="text")
                    p
                        a.btn.btn-link(href="/") Cancel
                        button.btn.btn-default(type="submit", value="Register") Register
