.container.maincontent
        .row
            .col-lg-12
                  form(name="update-user")
                        .form-group
                              label(for="firstName") First Name
                              input.form-control(name="firstName", type="text", value=user.firstName)
                        .form-group
                              label(for="lastName") Last Name
                              input.form-control(name="lastName", type="text", value=user.lastName)
                        .form-group
                              label(for="phoneNumber") Phone Number
                              input.form-control(name="phoneNumber", type="text", value=user.phoneNumber)
                        .form-group
                              label(for="emailAddress") Email Address
                              input.form-control(name="emailAddress", type="text", value=user.emailAddress)
                        .form-group
                              label(for="address") Address
                        .form-group
                              label(for="addressStreet") Address Street
                              input.form-control(name="addressStreet", type="text")
                        .form-group
                              label(for="addressSecondStreet") Second Line Street Address
                              input.form-control(name="addressSecondStreet", type="text", value=user.addressSecondStreet)
                        .form-group
                              label(for="addressCity") City
                              input.form-control(name="addressCity", type="text", value=user.addressCity)
                        .form-group
                              label(for="addressState") State
                              input.form-control(name="addressState", type="text", value=user.addressState)
                        .form-group
                              label(for="addressZipCode") ZIP Code
                              input.form-control(name="addressZipCode", type="text", value=user.addressZipCode)
                        .form-group
                              label(for="password") Password
                              input.form-control(name="password", type="text")
                        p
                              a.btn.btn-link(href="/") Cancel
                              button.btn.btn-default(type="submit", name="update", value="Update") Update







