extend layout
block main
    .container.maincontent
      .row
        .col-lg-12
          .row
            #tabs
              ul.nav.nav-tabs
               li.active
                  a(href='#my-cart' data-toggle='tab') My &nbsp;
                    span(class='glyphicon glyphicon-shopping-cart')
                li
                  a(href='#{user._id}' data-toggle='tab') My Account Details
                li
                  a(href='#history' data-toggle='tab') My Order History
            #tab-1
                .user(data-user="#{user._id}")
                    .btn-group
                        a.btn.btn-default.buttons(href='/#') Checkout
                        a.btn.btn-default.buttons(href='/items/') Keep Shopping
            #tab-2
              .user(data-user="#{user._id}")
                p Name: #{user.firstName} #{user.lastName}
                p Username: #{user.username}
                p Email Address: #{user.emailAddress}
                p Phone Number: #{user.phoneNumber}
                p Address:
                if (address)
                  for address in user.address
                    p Street: #{address.street} #{secondStreet},
                    p City / State / Zipcode: #{city}, #{state}, #{zipCode}
              .btn-group
                .btn-group
                  button.btn.btn-default(id="edit-user-details") Edit Account Details
            include update-user-form.jade
            #tab-3
                .user(data-user="#{user._id}")

  //- need to add fields for: password, creditCardToken, currentCart
