extend layout
block main
  .container.maincontent
      .row
        .col-lg-12
          .row
            ul.nav.nav-tabs(role="tablist")#tabsy
             li.active(role='presentation')
                a(href='#tab-1' data-toggle='tab' role='tab' aria-control='tab-1') My &nbsp;
                  span(class='glyphicon glyphicon-shopping-cart')
              li(role='presentation')
                a(href='#tab-2' data-toggle='tab' role='tab' aria-control='tab-2') My Account Details
              li(role='presentation')
                a(href='#tab-3' data-toggle='tab' role='tab' aria-control='tab-3') My Order History
            #myTabContent.tab-content
              #tab-1.tab-pane.active(role='tabpanel')
                  .user(data-user="#{user._id}")
                    ul.list-group
                      each product in products
                        li.list-group-item #{product.itemName} - $ #{product.price} -
                          img(class=['img-responsive', 'thumbnail'], style="width:100px",src=product.photoURL)
                    h4.total The total for this order is: $#{total}
                    .btn-group
                        a.btn.btn-default.buttons(href='/#') Checkout
                        a.btn.btn-default.buttons(href='/items/') Keep Shopping
              #tab-2.tab-pane(role='tabpanel' aria-labeledby='#{user._id}')
                .user(data-user="#{user._id}")
                  ul.list-group
                    li.list-group-item Name: #{user.firstName} #{user.lastName}
                    li.list-group-item Username: #{user.username}
                    li.list-group-item Email Address: #{user.emailAddress}
                    li.list-group-item Phone Number: #{user.phoneNumber}
                    li.list-group-item Address:
                    if (address)
                      for address in user.address
                        li.list-group-item Street: #{address.street} #{secondStreet},
                        li.list-group-item City / State / Zipcode: #{city}, #{state}, #{zipCode}
                .btn-group
                  .btn-group
                    button.btn.btn-default(id="edit-user-details") Edit Account Details
              include update-user-form.jade
              #tab-3.tab-pane(role='tabpanel')
                  .user(data-user="#{user._id}")


